
    .alert-erro {
        animation: slideDownFade 4s infinite;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid red;
        width: 50%;
        padding: 15px;
        border-radius: 8px;
        margin: 30px auto;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 4px 10px  #721c24;
    }

     @keyframes slideDownFade {
    0%{
    border: 1px solid red;    
    transform: scale(0.7);
    }
    100%{
        border: 1px solid red;
         transform: scale(1);
    }
}