
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f5f7fa;
      padding: 40px;
    }

    .form-container {
    max-width: 600px;
    margin: 13% auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 17px #2225e0;;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: 600;
      color: #444;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    select,
    textarea {
      width: 100%;
      padding: 10px 12px;
      margin-top: 6px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      transition: border-color 0.3s;
    }

    input[type="text"]:hover,
    input[type="number"]:hover,
    input[type="file"]:hover,
    select:hover ,
    textarea:hover{
      width: 100%;
      padding: 10px 12px;
      margin-top: 6px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      transition: border-color 0.3s;
      border: 2px solid #2225e0;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: #2225e0;
      outline: none;
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }

    button {
      margin-top: 25px;
      width: 100%;
      padding: 12px;
      background-color: #055fc0ee;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #2225e0;
    }